/* Your app custom styles here */
.page-current
  display: flex

#main-view

  .page-content
    width: 100%
    height: auto
    margin: auto

  .page
    background-color: #fff


  .page-content
    padding: 64px 2% 0
    overflow-y: hidden


.block-header.landing-header
  /*margin-top: 35%*/
  text-align: center


.landing-header
  h1
    font-size: 2.5em


  h3
    padding: 0 10%


#landing-body
  margin-top: 10%

  &:after
    content: none


.add-button
  width: 200px


#creation-page
  .add-button
    padding-left: 16px
    text-align: left


  .preview-img
    margin-left: 16px
    margin-top: 16px
    max-width: 90%
    max-height: 250px
    border-style: double
    border-color: #007aff

  textarea
    height: auto


.red-text
  color: orangered
  text-align: center


.hidden
  display: none

