/* Your app custom styles here */
.page-current
  display: flex

#main-view

  .page-content
    width: 100%
    height: auto
    margin: auto

  .page
    background-color: #fff


.block-header.landing-header
  /*margin-top: 35%*/
  text-align: center


.landing-header
  h1
    font-size: 2.5em


  h3
    padding: 0 10%


#landing-body
  margin-top: 10%

  &:after
    content: none


.add-button
  width: 200px


#creation-page
  .add-button
    padding-left: 16px
    text-align: left


  .preview-img
    margin-left: 16px
    margin-top: 16px
    max-width: 90%
    max-height: 250px
    border-style: double
    border-color: #007aff

  textarea
    height: auto


.red-text
  color: orangered
  text-align: center


.hidden
  display: none



.score-table
  list-style: none
  display: flex
  flex-direction: column-reverse

  .table-elem
    display: inline-grid
    grid-template-columns: 30px 30px 79px

    p:first-child
      text-align: right

    .circle
      height: 5px
      width: 5px
      border-radius: 50%
      margin: auto

      &.passed
        background-color: gray

    p
      margin: 0

    &.selected
      color: #6202F5
      background-repeat: no-repeat
      background-size: 100% 100%
      background-image: url("../assets/hex2.png")
