/* Definitions and repeatable patterns here */
$my-purple: #6202F5
$my-red: orangered
$my-orange: #FFA500
$my-yellow: lightyellow
$my-salmon: darksalmon
$my-pseudoblue: navy
$my-green: lightseagreen


@mixin center-area($x, $y)
  top: $y
  left: $x
  transform: translate(-$x, -$y)
  -ms-transform: translate(-$x, -$y)

@mixin center-area-v
  @include center-area(0, 50%)

@mixin center-area-vh
  @include center-area(50%, 50%)

@mixin buttonAnimation($name, $color)
  background-color: $color
  @keyframes #{$name}
    0%
      background-color: $my-orange
    25%
      background-color: $my-purple
    50%
      background-color: $my-orange
    75%
      background-color: $my-purple
    100%
      background-color: $color

@mixin winAnimation
  @include buttonAnimation(selectingAnimation1, $my-green)

@mixin looseAnimation
  @include buttonAnimation(selectingAnimation2, $my-red)

/* Your app custom styles here */

#main-view
  color: white

  .esbetaculo-logo
    width: 80%

  .page-content
    height: auto
    width: 100%
    position: absolute
    padding: 0
    @include center-area-v

  .page
    background-image: url("../assets/blueback6.png")
    background-repeat: no-repeat
    background-size: 100% 100%

#login-screen, #register-screen
  .login-screen-page
    background-image: url("../assets/blueback6.png")
    background-repeat: no-repeat
    background-size: 100% 100%

  .page-content
    background-color: $my-yellow
    color: $my-pseudoblue
    border-color: $my-salmon
    border-style: double

    .item-title
      color: $my-salmon

    input
      color: $my-salmon

.block-header.landing-header
  /*margin-top: 35%*/
  margin: 0
  text-align: center


.landing-header
  h1
    font-size: 2.5em


  h3
    padding: 0 10%


#landing-body
  background: none

  &:after
    content: none

  &:before
    content: none

.weird-btn
  margin: 4%
  background-color: $my-yellow

.add-button
  width: 200px

#profile-page
  overflow: hidden

  h3
    text-align: center

  .page-content
    overflow-y: hidden
    background-color: $my-yellow
    color: $my-pseudoblue
    border-color: $my-salmon
    border-style: double

  ul
    background-color: $my-yellow

  ul, .item-inner
    &:before, &:after
      background-color: $my-salmon

  .item-inner

    &:before
      content: ''
      position: absolute
      display: block
      z-index: 15
      top: 0
      right: auto
      bottom: auto
      left: 0
      height: 1px
      width: 100%
      transform-origin: 50% 0%
      transform: scaleY(calc(1 / var(--f7-device-pixel-ratio)))

  li
    margin-bottom: 10px

    .item-content
      background-color: white
      padding: 0

  #score-list
    max-height: 300px
    overflow-y: auto

  h4
    color: $my-pseudoblue
    text-align: center

#game-create
  ul
    margin: 10%
    border-style: double
    border-color: $my-salmon

  select, a
    color: $my-salmon

  h4
    color: $my-yellow
    text-align: center

.hidden
  display: none

#help-page, #error-pop
  @include center-area-vh
  min-width: 80%
  text-align: center
  background-color: $my-yellow
  color: $my-pseudoblue
  border-color: $my-salmon
  border-style: double

  #help-card
    padding: 5px

    .graph-answer
      display: inline-flex
      color: $my-purple
      background-color: $my-orange

#question-page
  position: relative

  .help-button
    margin: 5px
    border-radius: 50%
    border-style: solid
    border-color: white
    background: none
    color: white

    img
      position: relative
      top: 15%

  #question-body
    background-color: transparent
    box-shadow: none
    text-align: center

    .card-header
      margin-bottom: 5%

    .game-box
      border-radius: 25%
      border-style: solid
      border-color: $my-salmon
      text-align: center
      margin: auto
      width: 90%
      height: 10vh
      background-color: $my-yellow
      color: $my-pseudoblue

      &.question-box
        font-size: 1.4em
        padding: 10% 1%
        height: auto
        max-height: 25vh
        font-weight: bold

    .card-header
      &:after
        content: none

    .answers
      display: grid
      grid-template-columns: 50% 50%
      padding: 0
      margin: auto
      width: 100%
      height: 100%

      .answer
        display: flex
        width: 80%
        margin: 5px auto
        list-style: none

        .game-box.win
          @include winAnimation
          animation-name: selectingAnimation1
          animation-duration: 2s
          animation-fill-mode: inherit

        .game-box.loose
          @include looseAnimation
          animation-name: selectingAnimation2
          animation-duration: 2s
          animation-fill-mode: inherit





.score-table
  list-style: none
  display: flex
  flex-direction: column-reverse
  padding: 0

  li
    margin: 2%

  .table-elem
    display: inline-grid
    grid-template-columns: 30px 30px 79px

    p:first-child
      text-align: right

    .circle
      height: 5px
      width: 5px
      border-radius: 50%
      margin: auto

      &.passed
        background-color: gray

    p
      font-size: medium
      margin: 0

    &.selected
      color: $my-purple
      background-repeat: no-repeat
      background-size: 100% 100%
      background-image: url("../assets/hex2.png")


#end-page
  h1
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
