<!DOCTYPE html>
<html>
<head>
  <!-- This file is the template for "www/index.html". Modify it to fit your needs -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">-->
  <meta http-equiv="Content-Security-Policy" content="img-src 'self' blob: data: gap: https://firebasestorage.googleapis.com 'unsafe-eval'; default-src * 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
  <meta name="theme-color" content="#007aff">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <title>My App</title>
  <% if (process.env.TARGET === 'web') { %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" href="static/icons/apple-touch-icon.png">
  <link rel="icon" href="static/icons/favicon.png">
  <% } %>
</head>
<body>
  <div id="app"></div>
  <script src="cordova.js"></script>
</body>
</html>
